{% extends "base.html" %}
{% block title %} Emotion Detector {% endblock %}

    {% block content %}
    <div class="container">
        <h1 class="glowing-title">🗣️ Emotion-Based Chatbot</h1>
        <p class="glowing-subtitle">Type a message and let the chatbot detect the emotion</p>
        
        <form action="/predict" method="POST">
            <div class="input-container">
                <label for="user_input" class="custom-label">You:</label>
                <textarea type="text" name="user_input" placeholder="Type your message here..." required></textarea>
            </div>
            
            <button class="analyze-btn" type="submit">Analyze Emotion</button>
        </form>
        <a href="/analyze_tweets" style="display: block; margin-top: 20px;">
            Analyze Twitter Emotions →
        </a>
    </div>
    {% endblock %}
